$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'bootstrap-social/bootstrap-social';


body {
  padding-top: 50px;
}

.login {
  padding: 40px 15px;
  text-align: center;
  max-width: 500px;
  @include center-block();
}

.upload {
  padding: 40px 15px;
  text-align: center;
  @include center-block();
}

/*
 * Taken from: http://www.abeautifulsite.net/blog/2013/08/whipping-file-inputs-into-shape-with-bootstrap-3/
 */
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
